# Dependencies
node_modules/
pnpm-lock.yaml

# Build output
dist/
dist-scripts/

# Generated code
src/generated_protos/
fabric-protos

# Test infrastructure
_test-infra/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
